include ../config/config
include ../mixins/figure
include ../mixins/submenu

doctype html
html(lang="es")
    head
    block head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet")       
        link(rel="stylesheet" href="../../public/css/styles.css")
        title Node renovado
        script(src="../../public/js/scroll-linked-nav.js" defer) 

    body        
        main.layout
            div
                .sidebar
                    a(href="../../public/views/index.html"): img(src="" alt="logo").logo
                    nav.nav
                        include ../mixins/menu-rutas                        
                        block menu
                        +menu(pages)  
            section.container-content
                .container-title.title-sticky        
                    block containerTitle
                section.content        
                    block content